<% content_for :nav do %>
    <ul>
      <li class="has-subnav">
        <a href=<%= confirm_wz_cases_path%>>
          <i class="icon-angle-right" aria-hidden="true"></i>
          <span class="nav-text">
          设为基准
          </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href=<%= wz_cases_path + "?type=0" %>>
          <i class="icon-angle-right" aria-hidden="true"></i>
          <span class="nav-text">
          一致
          </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href=<%= wz_cases_path + "?type=1" %>>
          <i class="icon-angle-right" aria-hidden="true"></i>
          <span class="nav-text">
          结果包含基准
          </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href=<%= wz_cases_path + "?type=2" %>>
          <i class="icon-angle-right" aria-hidden="true"></i>
          <span class="nav-text">
          不一致
          </span>
        </a>
      </li>
    </ul>
<% end %>

<h1>违章测试</h1>
<%= will_paginate @wz_cases unless @wz_cases.is_a? Array %>
<div style="overflow-x: auto; overflow-y: auto;width:100%;">
  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>城市</th>
      <th>车牌</th>
      <th>车架</th>
      <th>发动机</th>
      <th>标准结果</th>
      <th>当前结果</th>
      <th>结果分析</th>
      <th>删除记录</th>
    </tr>
    </thead>
    <tbody>
    <% @wz_cases.each do |item| %>
        <tr>
          <td><%= link_to item.id, wz_case_path(item) %></td>
          <td><%= item.vehicle.cityname %></td>
          <td><%= link_to item.vehicle.plate, wz_case_path(item)  %></td>
          <td><%= item.vehicle.frame %></td>
          <td><%= item.vehicle.engine %></td>
          <td><%= link_to item.get_wz_items.size, wz_case_path(item)  %></td>
          <td><%= link_to item.get_wz_queries.size, wz_case_path(item)  %></td>
          <td><%= link_to WzCase.get_des(item.status), wz_case_path(item) %></td>
          <td><%= link_to "删除记录", wz_case_path(item), method: :delete %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <a href=<%= begin_wz_cases_path %>>
    <button class="btn btn-default w3ls-button">开始测试</button>
  </a>
</div>